@CHARSET "UTF-8";
/* couleur contraste : rgb(238,144,9) */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: auto;
}